{% extends "base.html" %}
{% block content %}
<!--导航条-->
<nav class="breadcrumb">
    <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">关于</span> </div>
</nav>

<section class="container">
    <div class="container-fluid">
        <div class="about">
            <h2>Just about me</h2>
            <ul>
                <p>一枚正在努力进步的php程序员。专长领域为php开发、服务器端开发，目前正在向python工程师进发。。。</p>
            </ul>
            <h2>About my blog</h2>
            <ul>
                <p>域  名：python.fendous.com 注册于2017年02月02日</p>
                <p>服务器：阿里云服务器 ，于2016年11月23日完成备案</p>
                <p>备案号：京ICP备17002922号</p>
                <p>本站定位为IT技术博客站，博客内容主要涉及编程语言、前端开发、服务端开发及一些热门技术等方面，同时分享实用的学习和开发资料。</p>
            </ul>
            <h2>Contact  me</h2>
            <ul>
                <p><i class="Hui-iconfont">&#xe67b;</i>微信号 : youzhidejiahuo</p>
                <p><i class="Hui-iconfont">&#xe6d1;</i>git：<a href="https://github.com/mxfzww/blog" class="blog_link" >https://github.com/mxfzww/blog</a></p>
                <p><i class="Hui-iconfont">&#xe63b;</i>email : <a class="blog_link" href="mailto:2426595859@qq.com">2426595849@qq.com</a></p>
            </ul>
        </div>

    </div>
</section>
{% endblock %}
