{% extends "base.html" %}
{% block content %}
<!--导航条-->
<nav class="breadcrumb">
    <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span class="c-gray en">&gt;</span> <span class="c-gray">碎言碎语</span></div>
</nav>

<section class="container mt-20">
    <div class="container-fluid">
        <div class="timeline">
                {% load pagination_tags %}
  {% autopaginate article_sort2 2 %}
                {% for article in article_sort2 %}
					<div class="cd-timeline-block">
					    <div class="cd-timeline-img cd-picture">
					        <img src="/static/css/timeline/cd-icon-location.svg" alt="position">
					    </div>
					    <div class="cd-timeline-content">
					        <h4>{{ article.title }}</h4>
					        <p>{{ article.content|safe|slice:"200" }}</p>
					        <a href="{% url "blog_model:article_detail" pk=article.id %}" class="f-r"><input class="btn btn-success size-S" type="button" value="更多"></a>
					        <span class="cd-date">{{ article.date_time }}</span>
					    </div>
					</div>
                {% endfor %}
        {% paginate %}
        </div>
    </div>

</section>
{% endblock %}